# Dependencies
node_modules

# Build outputs
dist
coverage

# VCS
.git
.gitignore

# Editor/OS artifacts
.DS_Store
.vscode
.idea

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Env files
.env
.env.*
!.env.example
